/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_dark {
  --main-color-text: #F1B2CE;
  --color-title: #DB00FF;
  --accent-color: #FF0070;
  --color-article-title: #000028;
  --section-color-title: var(--accent-color);
  --angle-color: var(--accent-color);
  --rec-color: var(--accent-color);
  --shadow: var(--accent-color);
  --border-color: var(--accent-color);
  --border-color-link: var(--main-color-text);
  --background-image: url(../images/cover-image-dark.png);
  --hover-color: 1px solid rgba(134, 18, 69, 0.4);
}
